<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
       <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Homies</title>

    <!-- Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap JS-->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://d3js.org/topojson.v1.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.none.min.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.prt.js"></script>
</head>
<body>
    <div class="col-10" style="padding:10px">
       <article class="card-body">
           <form  th:action="@{/profile}" th:object="${addPlace}" name="myForm" action="#" onsubmit="return validateForm()" method="post">
                <div class="form-row">
                    <div class="col form-group">
                        <label>Title</label>
                        <input type="text" required class="form-control" th:field="*{title}">
                    </div>
                    <div class="col form-group">
                        <label>Price</label>
                        <input type="text" required class="form-control" th:field="*{price}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col form-group">
                        <label>Type</label>
                        <input type="text" required class="form-control" th:field="*{type}">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select id="inputState" name="city" required th:field="*{city}"  class="form-control">
                            <option value="" selected=""> Choose...</option>
                            <option value="Lisboa">Lisboa</option>
                            <option value="Porto">Porto</option>
                            <option value="Braga">Braga</option>
                            <option value="Setúbal">Setúbal</option>
                            <option value="Aveiro">Aveiro</option>
                            <option value="Faro">Faro</option>
                            <option value="Leiria">Leiria</option>
                            <option value="Coimbra">Coimbra</option>
                            <option value="Santarém">Santarém</option>
                            <option value="Viseu">Viseu</option>
                            <option value="Viana Do Castelo">Viana Do Castelo</option>
                            <option value="Vila Real">Vila Real</option>
                            <option value="Castelo Branco">Castelo Branco</option>
                            <option value="Évora">Évora</option>
                            <option value="Guarda">Guarda</option>
                            <option value="Beja">Beja</option>
                            <option value="Bragança">Bragança</option>
                            <option value="Portalegre">Portalegre</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>Number of bathrooms</label>
                        <input class="form-control" name="bathrooms"  required th:field="*{numberBathrooms}"  type="text">
                    </div>
                    <div class="form-group">
                        <label>Number of bedrooms</label>
                        <input class="form-control" name="bedrooms"  required th:field="*{numberBedrooms}" type="text">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>Features</label>
                        <input class="form-control" name="featureInput" id="featureInput" required type="text">
                        <button class="btn btn.btn-primary btn-block" onclick="addFeature()">Add feature</button>
                    </label>
                    <ul id="featureList">
                    </ul>
                </div>
            </div>

                <div class="form-group">
                    <button type="submit" value="Submit" class="btn btn-primary btn-block"> Register</button>
                </div>
           </form>
       </article>
    </div>

<script type="text/javascript">
    function addFeature(){
        var feature = document.getElementById("featureInput").value;
        feature = feature.replace(/^\s+/, '').replace(/\s+$/, '');
        if(feature != ''){
            var list = document.getElementById("featureList");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(feature));
            list.appendChild(li);
        }
    }
</script>
</body>
</html>