<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link  th:href="@{/css/fragments.css}" href="/css/fragments.css" rel="stylesheet" media="all">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light" th:switch="${logged}">
    <a href="/" class="navbar-brand">
        <img th:src="@{/media/logo.png}" height="70" alt="Homies">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
        </div>
        <th:block th:switch="${user_status}">
            <!-- If not logged -->
            <div th:case="'user_not_logged'" class="navbar-nav ml-auto btn-active span" id="not_logged">
                <a href="/login" class="nav-item">Login</a>
                <a href="/register" class="nav-item">Register</a>
            </div>
            <!-- If logged -->
            <div th:case="'user_logged'" href="/profile" class="navbar-nav ml-auto btn-active span" style="align-content:center"  id="logged">

                <a href="/profile">
                    <img th:src="@{/media/user.svg}" href="/profile"  style="margin-right:3px">
                    <p style="display: contents" id="username"></p>
                </a>
            </div>
        </th:block>
    </div>
</nav>

</body>
<script>
    // Get User
        var status = document.getElementsByClassName("span").id;
        var data = { 'status' : status };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type:"post",
            data: JSON.stringify(data),
            url:"/getUser",
            async: false,
            error: function (xhr, status) {
                console.log(status);
                console.log(xhr.responseText);
            },
            success: function (result) {
                console.log(result);
                var status = document.getElementById("username").innerHTML = "Hello " + result.user +" !";
            }
        });


</script>
</html>