<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link  th:href="@{/css/fragments.css}" href="/css/fragments.css" rel="stylesheet" media="all">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light" th:switch="${logged}">
    <a href="/" class="navbar-brand">
        <img th:src="@{/media/logo.png}" height="70" alt="Homies">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
        </div>
        <th:block th:switch="${user_status}">
            <div th:case="'user_not_logged'" class="navbar-nav ml-auto btn-active" >
                <a href="login" class="nav-item">Login</a>
                <a href="/register" class="nav-item">Register</a>
            </div>
            <div th:case="'user_logged'" class="navbar-nav ml-auto btn-active" >
                <span th:text="${user_status}"></span>
            </div>
        </th:block>
    </div>

<div th:case="'logged'">
    <div class="navbar-nav">
    </div>
</div>
</nav>

</body>
</html>