<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title></title>
	<!-- Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link  th:href="@{/css/details.css}" href="/css/details.css" rel="stylesheet" media="all">

    <!-- Bootstrap JS-->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://d3js.org/topojson.v1.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.none.min.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.prt.js"></script>
    <style>

    </style>

</head>

<body style="background-color: whitesmoke">
<div th:replace="fragments/navbar"></div>

<div class="background-image">
<!--	<img class="bed" th:src="@{/media/room-1.jpg}"> -->
</div>

<div class="row">
	<div class="col-3 card-info">
		<div class="card-title" th:text="${place['title']}"></div>
		<hr/>
		<div class="card-body">
			<!-- Bedrooms -->
			<div class="row">
				<div class="row">
					<p class="title">Type:</p>
				</div>
				<div class="row specifications">
					<p th:text="${place['type']}"></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="row">
					<p class="title">Specifications:</p>
				</div>
				<div class="row specifications">
					<div class="col-6">
						<div class="element">
							<img th:src="@{/media/wash.svg}">
							<div class="text" th:text="${place['numberBathrooms']} + ' bathrooms'"></div>
						</div>

					</div>
					<div class="col-6">
						<div class="element">
							<img th:src="@{/media/bed.svg}">
							<div class="text" th:text="${place['numberBedrooms']} + ' bedrooms'"></div>
						</div>
					</div>
				</div>

			</div>
			<hr>
			<div class="row">
				<!-- Saved -->
				<img class="fav saved"
					 th:id="${place['id']} + _fav"
					 th:if="${#lists.contains(favorites, place)}"
					 th:name="${place['id']}"
					 th:src="@{/media/filled_heart.svg}"
					 onClick="save_fav(this.name)"
					 th:value="${place}">
				<!-- Not Saved -->
				<img class="fav not_saved"
					 th:id="${place['id']} + _fav"
					 th:if="!${#lists.contains(favorites, place)}"
					 th:name="${place['id']}"
					 th:src="@{/media/blank_heart.svg}"
					 onClick="save_fav(this.name)"
					 th:value="${place}">
			</div>
		</div>
	</div>

	</div>
</div>

<div class="container contents" style="pointer-events: none">
	<div class="card-rent row">
		<div class="col-8">
			<p class="title" style="margin-top: 15px">Features</p>
			<div class="row">
				<ul>
					<li th:each="feature : ${place['features']}" th:text="${feature}"></li>
				</ul>
			</div>
		</div>
		<div class="divide"></div>
		<div class="col-3" style="	position: relative;
    								display: block;
    								width: 100%;
    								align-self: center;
    								margin-left: auto;">
			<div style="display: inline-block;">
				<h3 th:text="${place['price'] + '€/mês'}"></h3>
				<p>Contas incluídas</p>
				<hr>
				<button class="booking" th:id="book_+${place['id']}" onClick="addBooking()">Book Now!</button>
			</div>
		</div>
	</div>
</div>



<div class="card-rent row" style="margin-top: 16px;">
	<div class="col-8">
		<p class="title" style="margin-top: 15px">Reviews</p>
	</div>
	<div class="col-3" style="	position: relative;
    								display: block;
    								width: 100%;
    								align-self: center;
    								margin-left: auto;">
		<p class="title" style="margin-top: 15px">Add Review</p>
		<div style="display: inline-block;">
				<textarea type="text" id="reviewComment" cols="15" rows="10"
						  style="	display: block;
    								position: relative;
    								margin: 19px;" placeholder="Type here your review! :)"></textarea>
			<fieldset class="rating">
				<input type="radio" id="star5" name="rating" value="5" />
				<label class = "full" for="star5" title="Awesome - 5 stars"></label>
				<input type="radio" id="star4half" name="rating" value="4 and a half" />
				<label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
				<input type="radio" id="star4" name="rating" value="4" />
				<label class = "full" for="star4" title="Pretty good - 4 stars"></label>
				<input type="radio" id="star3half" name="rating" value="3 and a half" />
				<label class="half" for="star3half" title="Meh - 3.5 stars"></label>
				<input type="radio" id="star3" name="rating" value="3" />
				<label class = "full" for="star3" title="Meh - 3 stars"></label>
				<input type="radio" id="star2half" name="rating" value="2 and a half" />
				<label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
				<input type="radio" id="star2" name="rating" value="2" />
				<label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
				<input type="radio" id="star1half" name="rating" value="1 and a half" />
				<label class="half" for="star1half" title="Meh - 1.5 stars"></label>
				<input type="radio" id="star1" name="rating" value="1" />
				<label class = "full" for="star1" title="Sucks big time - 1 star"></label>
				<input type="radio" id="starhalf" name="rating" value="half" />
				<label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
			</fieldset>
			<hr>
			<button class="submit_review" th:id=" review_ + ${place['id']}" onclick="submitReview(this.id)">Submit</button>
		</div>
	</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<p> NOT LOGGED IN</p>
	</div>
</div>
</body>
<script>
	// Modal
	// Get the modal
	var modal = document.getElementById("myModal");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
		modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target === modal) {
			modal.style.display = "none";
		}
	}

	// Add booking
	function addBooking(place_id){

	}




	// Submit Review
	function submitReview(place_id){
		var id = parseInt(place_id.split("_").pop());
		var radios = document.getElementsByName("rating");
		var comment = "";
		var val = $.trim($("textarea").val());
		if (val !== "") {
			comment = (val);
		}
		var reviewGrade;
		for(var i = 0; i < radios.length; i++){
			if(radios[i].checked){
				reviewGrade = radios[i].value
			}
		}
		var data = { 'place_id' : id , 'reviewGrade' : parseFloat(reviewGrade), 'comment' : comment };
		$.ajax({
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			type:"post",
			data:JSON.stringify(data),
			url:"/reviews",
			async: false,
			success: function(result){
				console.log(result);
				if(result.user_status === "user_not_logged"){
					console.log(result.user_status);
					modal.style.display = "block";
				}
				else {
					console.log("SUCCESS");
					document.getElementById("reviewComment").value = "Thanks for your feedback!";
				}
			}
		})
	}



	// Favorites
	function save_fav(place_id){
		var status = document.getElementById(place_id + "_fav").className.split(" ").pop();
		var data = { 'place_id' : place_id , 'status' : status };
		$.ajax({
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			},
			type:"post",
			data: JSON.stringify(data),
			url:"/addtofavorite",
			async: false,
			error: function (xhr, status) {
				console.log(status);
				console.log(xhr.responseText);
			},
			success: function (result) {
				if(result.user_status === "user_not_logged"){
					modal.style.display = "block";
				}
				else{
					if(result.action === "added"){
						document.getElementById(place_id + "_fav").src = "/media/filled_heart.svg";
						document.getElementById(place_id + "_fav").className = "fav saved"

					}
					else{
						document.getElementById(place_id + "_fav").src = "/media/blank_heart.svg";
						document.getElementById(place_id + "_fav").className = "fav not_saved"
					}
				}
			}
		});

	}
</script>
</html>