<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
	<title>Homies</title>

	<!-- Bootstrap CSS-->
	<link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" media="all">

	<!-- Main CSS-->
	<link th:href="@{/css/houseList.css}" href="/css/houselist.css" rel="stylesheet" media="all">

	<!-- Bootstrap JS-->
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body>
	<div th:replace="fragments/navbar"></div>

	<div class="mainBod">
		<div style="margin-bottom: 20px;"></div>
		<div class="wrapper">
			<div class="col-2 filterTab">
				<h2 style="text-align: center; color: #0099ff; margin-bottom: 40px">Find your place</h2>
				<div class="form-group has-search">
					<span class="fa fa-search form-control-feedback"></span>
					<input id="searchBar" type="text" class="form-control" placeholder="Search">
				</div>

				<div class="row">
					<div class="col-12">
						<form id="filter_form" method="post" th:action="@{/list}" th:object="${filtered_places}">
							<!-- ! FILTER: City Selector -->
							<div class="form-group">

								<label class="filter_title">City</label>
								<select form="filter_form" name="city" id="cities_filter" th:field="*{city}"
									class="form-control select2-single" style="	width:14rem;
																				padding-left:25px;
																				font-size:0.9rem;
																				border-radius: 20px;
																				z-index:999">
									<option th:each="city : ${cities}"  th:value="${city}" th:text='${city}'></option>
								</select>
							</div>

							<!-- ! FILTER: Price Range Slider -->
							<div class="form-group">

								<label class="filter_title">Price Range</label>

								<div class="price-slider">
									<input type="range" th:name="min-price" th:id="min-price" onchange="slider()"
										class="price-slider-range" th:value="0" min="0" max="1500"
										step="1">
									<input type="range" th:name="max-price" th:id="max-price" onchange="slider()"
										class="price-slider-range" th:value="1500" min="0"
										max="1500" step="1">
									<div class="price-progress" id="price-progress"></div>
								</div>
								<div style="text-align: center;">
									<p style="margin-top:30px; font-size:1rem;" id="price-slider-paragraph">
										00,00 € - 1.500,00 €
									</p>
								</div>
							</div>

							<!-- ! FILTER: Features -->
							<div class="form-group">
								<label class="filter_title">Features</label><br>

								<input class="feature_filter" type="checkbox" id="wifi" name="features" value="Wifi" th:field="*{features}">
								<label for="wifi">Wifi</label><br>
								<input class="feature_filter" type="checkbox" id="tv" name="features" value="TV" th:field="*{features}">
								<label for="tv">TV</label><br>
								<input class="feature_filter" type="checkbox" id="exterior" name="features" value="Área Exterior" th:field="*{features}">
								<label for="exterior">Área Exterior</label><br>
								<input class="feature_filter" type="checkbox" id="elevador" name="features" value="Elevador" th:field="*{features}">
								<label for="elevador">Elevador</label><br>
								<input class="feature_filter" type="checkbox" id="ac" name="features" $ value="Ar Condicionado" th:field="*{features}">
								<label for="ac">Ar Condicionado</label><br>
								<input class="feature_filter" type="checkbox" id="aquecimento" name="features" value="Aquecimento Central" th:field="*{features}">
								<label for="aquecimento">Aquecimento Central</label><br>
								<input class="feature_filter" type="checkbox" id="fumar" name="features" value="Fumar" th:field="*{features}">
								<label for="fumar">Aceita Fumadores</label><br>
								<input class="feature_filter" type="checkbox" id="animal" name="features" value="Animais de Estimação" th:field="*{features}">
								<label for="animal">Aceita Animais</label><br>
							</div>
							<button class="btn btn-primary" type="submit">Search</button>
						</form>
					</div>

				</div>
			</div>
			<div class="col-9 houseTab">
				<div class="" modelAttribute="places" th:each="place: ${places}">
					<section class="section mt-5">
						<div class="container houseCard">
							<div class="row">
								<div class="col-md-6">
									<div>
										<img alt="room" class="img-fluid houseCard_image"
											onclick="window.open('/list/1')" th:src="@{/media/room-1.jpg}" />
									</div>
								</div>
								<div class="col-md-6 col-lg-5 d-flex align-items-center mt-4 mt-md-0">
									<div>
										<div class="col-2">
											<h2 th:text="${place['title']}"></h2>
										</div>
										<div class="col-6">
											<div class="element">
												<img th:src="@{/media/bed.svg}">
												<div class="text" th:text="${place['numberBedrooms']} + ' bedrooms'">
												</div>
											</div>
											<div class="element">
												<img th:src="@{/media/wash.svg}">
												<div class="text" th:text="${place['numberBathrooms']} + ' bathrooms'">
												</div>
											</div>
										</div>
										<div class="col-4">
											<div th:text="'Rating: ' + ${place['rating']}"></div>
											<div th:text="${place['city']}"></div>
										</div>
									</div>
									<div class="row">
										<img style="bottom: 0;
    												left: 0;
    												position: absolute;
    												margin: 27px 27px 27px -39px;" th:src="@{/media/blank_heart.svg}">
										<div class="price" th:text="${place['price'] + '€/mês'}"></div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>


			</div>
			<div class="col-1"></div>
			<div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">


	var x = Object.values(document.getElementsByName("_features"));
	x.forEach(function(e){
		e.remove();
	})


	/*
	$( document ).ready(function() {
		document.getElementsByName("max-price").value = 1500;
		document.getElementsByName("min-price").value = 0;
	});


	if(document.getElementById("testName").checked) {
		document.getElementById('testNameHidden').disabled = true;
	}
	function searchPlace() {
		document.getElementById("searchBar");
		var arrayLocals = document.getElementsByClassName("searchResult");
		for (var i = 0; i < arrayLocals.len; i++) {
			if (arrayLocals[i].innerText != "Lisboa") {
				arrayLocals[i].style.display = "none";
			}
		}
	}

	// Features
	let features = [];
	document.getElementById('search_button').onclick = function() {
		features = [];
		let checkboxes = document.getElementsByName('features');
		for (var checkbox of checkboxes) {
			if (checkbox.checked){
				features.push(checkbox.value);
			}
		}
		console.log("features: ",features);

		console.log("features: ",features);

		let data = {
			'features': features,
		}

		console.log("data: ",data);

	};
	


	$.ajax({
		type: "POST",
		dataType: "application/json",
		data: JSON.stringify(data),
		url: "/list",
		success: function (result) {
			console.log(result);
		}
	});


*/

	slider();


	function slider() {
		const range = document.getElementsByClassName('price-slider-range');
		const min = Math.min(range[0].value, range[1].value);
		const max = Math.max(range[0].value, range[1].value);
		document.getElementById('price-slider-paragraph').innerHTML = `${min}€ - ${max}€`;

		const progress = document.getElementById('price-progress');
		progress.style.setProperty('--max', max);
		progress.style.setProperty('--min', min);
	}


</script>

</html>