<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/houseList.css">
</head>
<body>
	<div class="mainBod">
		<div style="background-color:black; margin-bottom: 20px;">asd</div>
		<div class="wrapper">
			<div style="grid-column-start: 1; grid-column-end: 2;background-color: white; margin-right: 1em;"></div>
			<div class="filterTab">
				<h2 style="text-align: center; color: #0099ff">Find your place</h2>
				<input class="searchBar"type="text" placeholder="Search here...">
			</div>
			<div class="houseTab">
				<div class="nested"  th:each = "place: ${places}">
					<div class="houseImage"></div>
					<div class="houseInfo">
						<div class="information">
							<div th:text="${place['title']}"></div>
							<div>1 person</div>
							<div th:text="${place['numberBedrooms']} + ' bedrooms'"></div>
							<div th:text="${place['numberBathrooms']} + ' bathrooms'"></div>
							<div class="favButton">Add Fav</div>
							<div style="grid-row-start: 2; grid-row-end: 3"></div>
							<div th:text="${place['city']}" style="grid-row-start: 3; grid-row-end: 4"></div>
						</div>
						<div class="details">
							<div th:text="'Rating: ' + ${place['rating']}"></div>
							<div th:text="${place['price'] + '€/mês'}"style="grid-row-start: 2; grid-row-end: 3;"></div>
							<div class="detailsStyle" onclick="">Details</div>
							<div style="grid-row-start: 3; grid-row-end: 4;"></div>
						</div>
					</div>
				</div>
			</div>
			<div style="grid-column-start: 4; grid-column-end: 5;background-color: white; margin-lefr: 1em;">
		</div>
	</div>
</body>
</html>