<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Homies</title>

    <!-- Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link  th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" media="all">

    <!-- Bootstrap JS-->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://d3js.org/topojson.v1.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.none.min.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.prt.js"></script>
</head>

<body>

<!-- Top navigation -->
<div th:replace="fragments/navbar"></div>

    <div class="jumbotron">
        <div class="row">
                <div class="col-8 search">
                    <!-- Actual search box -->
                    <h2> What are you looking for?</h2>
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </div>
                <div class="col-4" style="position: sticky;">
                    <div id="container" style="position: relative; width: 400px; height: 700px; top:0"></div>
                </div>
        </div>

    </div>


    <div class="row card-row">
        <div class="card col-4">
            <img th:src="@{/media/colege-3.jpg}" />
        </div>
        <div class="card col-4">
            <img th:src="@{/media/college-1.jpeg}" />
        </div>
        <div class="card col-4">
            <img th:src="@{/media/college-2.jpg}" />
        </div>
    </div>
</body>
<script>
    var map = new Datamap({
        element: document.getElementById('container'),
        done: function(datamap) {
            datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
                window.location.href ="/list/city/"+ geography.properties.name;
                })
            },
        geographyConfig: {
            dataJson: 'https://rawgit.com/markmarkoh/datamaps/master/src/js/data/prt.json'
        },
        geographyConfig: {
            highlightFillColor: '#3d5170',
        },
        fills: {
            defaultFill: '#1293e3'
        },
        scope: 'prt',
        setProjection: function (element, options) {
            var projection, path;
            projection = d3.geo.mercator()
                .center([-8, 39.65])
                .scale(5500)
                .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
            path = d3.geo.path().projection(projection);



            console.log(projection)

            return { path: path, projection: projection };
        }


    });


</script>

</html>