<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title></title>
    <!-- Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link  th:href="@{/css/profile.css}" href="/css/profile.css" rel="stylesheet" media="all">

    <!-- Bootstrap JS-->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://d3js.org/topojson.v1.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.none.min.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.prt.js"></script>

</head>
<body>
<div th:replace="fragments/navbar"></div>

<div id="inner-nav"></div>
<div id="container">
    <div id="profile">
        <div id="image">
            <img id="profile-photo" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Profile-Image">
            <a href="#"><i class="fas fa-pen stroke-transparent"></i></a>
        </div>
        <p id="name" th:text=" ${user_logged.firstName} + ' ' + ${user_logged.lastName} ">
        </p>
        <br>
        <p th:text="${user_logged.email}" id="email"></p>
        <a id="edit-intro" href="#"><i class="fas fa-pen-alt blue"></i>&nbsp;&nbsp;Edit Info</a>
        <hr width="100%">
        <div id="about">
            <p style="display:inline;">About</p>
            <a href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
        </div>
        <p id="education">City<br><strong th:text="${user_logged.city}">, Portugal</strong></p>
    </div>
    <div id="info-cards">
        <div class="card" id="favorites_card" style="width:100%; overflow-x:auto;">
            <p><i class="fas fa-graduation-cap stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Favorito</p>
            <div class="cardRow">
                <div class="houseCard" th:each="place: ${favorites}" th:name="${place['id']}">
                    <div class="card-img">
                        <img style="vertical-align: middle;
                                    border-style: none;
                                    height: 250px;" th:name="${place['id']}" onClick="reply_click(this.name)" th:src="${place['photos']}"/></div>

                    <div class="card-content">
                            <h6 class="title" th:text="${place['title']}"></h6>
                            <p style="margin:-10px 0 -10px 10px; font-size: 0.8rem" th:text="${place['type']}"></p>
                            <p class="price" th:text="${place['price'] + '€/mês'}">100€/mês</p>
                    </div>
                </div>
                </div>
            <a href="/list">+ Add new</a>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    // Thymeleaf Correction
    function reply_click(clicked_id)
    {
        window.location.href ="/list/"+ clicked_id;
    }
</script>
</html>