<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title></title>
    <!-- Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link  th:href="@{/css/profile.css}" href="/css/profile.css" rel="stylesheet" media="all">

    <!-- Bootstrap JS-->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://d3js.org/topojson.v1.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.none.min.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.prt.js"></script>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div id="inner-nav"></div>
<div id="container">
    <div id="profile">
        <div id="image">
            <img id="profile-photo" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="Profile-Image">
            <a href="#"><i class="fas fa-pen stroke-transparent"></i></a>
        </div>
        <p id="name" th:text=" ${user_logged.firstName} + ' ' + ${user_logged.lastName} ">
        </p>
        <br>
        <p th:text="${user_logged.email}" id="email"></p>
        <a id="edit-intro" th:href="@{/update_profile}"><i class="fas fa-pen-alt blue"></i>&nbsp;&nbsp;Edit Info</a>
        <hr width="100%">
        <div id="about">
            <p style="display:inline;">About</p>
            <a href="#"><i class="fas fa-pen stroke-transparent-blue"></i></a>
        </div>
        <p id="education">City<br><strong th:text="${user_logged.city}">, Portugal</strong></p>
    </div>
    <div id="info-cards">
        <div class="card" id="favorites_card" style="width:100%; overflow-x:auto;">
            <p><i class="fas fa-graduation-cap stroke-transparent"></i>&nbsp;&nbsp;Favorite</p>
            <div class="cardRow">
                <div class="houseCard" th:each="place: ${favorites}" th:name="${place['id']}">
                    <div class="card-img">
                        <img style="vertical-align: middle;
                                    border-style: none;
                                    height: 250px;" th:name="${place['id']}" onClick="reply_click(this.name)" th:src="${place['photos']}"/></div>

                    <div class="card-content">
                            <h6 class="title" th:text="${place['title']}"></h6>
                            <p style="margin:-10px 0 -10px 10px; font-size: 0.8rem" th:text="${place['type']}"></p>
                            <p class="price" th:text="${place['price'] + '€/mês'}"></p>
                    </div>
                </div>
                </div>
            <a href="/list">+ Add new</a>
            </div>

        <div class="card" id="published_places_card" style="width:100%; overflow-x:auto;">
            <p><i class="fas fa-graduation-cap stroke-transparent"></i>&nbsp;Your Places</p>
            <div class="cardRow">
                <div class="houseCard" th:each="place: ${published}" th:name="${place['id']}">
                    <div class="card-img">
                        <img style="vertical-align: middle;
                                    border-style: none;
                                    height: 250px;" th:name="${place['id']}" onClick="reply_click(this.name)" th:src="${place['photos']}"/></div>

                    <div class="card-content">
                        <h6 class="title" th:text="${place['title']}"></h6>
                        <p style="margin:-10px 0 -10px 10px; font-size: 0.8rem" th:text="${place['type']}"></p>
                        <p class="price" th:text="${place['price'] + '€/mês'}"></p>
                    </div>
                </div>
            </div>
            <a onclick="addPlace()" >+ Add new</a>
            <!-- ADD NEW PLACE FORM" -->

        </div>

        <div class="card" id="bookings_card" style="width:100%; overflow-x:auto;">
            <p><i class="fas fa-graduation-cap stroke-transparent"></i>&nbsp;Rented Places</p>
            <div class="cardRow">
                <div class="houseCard" th:each="place: ${rentedHouses}" th:id="'rented_' + ${place['id']}" th:name="${place['id']}">
                    <div class="card-img">
                        <button class="cancel_button" th:id="'cancel_' + ${place['id']}" onclick="cancel(this.id)">CANCEL</button>
                        <img style="vertical-align: middle;
                                    border-style: none;
                                    height: 250px;" th:name="${place['id']}" onClick="reply_click(this.name)" th:src="${place['photos']}"/></div>

                    <div class="card-content">
                        <h6 class="title" th:text="${place['title']}"></h6>
                        <p style="margin:-10px 0 -10px 10px; font-size: 0.8rem" th:text="${place['type']}"></p>
                        <p class="price" th:text="${place['price'] + '€/mês'}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="container">
            <form  th:action="@{/profile}" th:object="${addPlace}" name="myForm" action="#" onsubmit="return validateForm()" method="post">
                <div class="form-row">
                    <div class="col form-group">
                        <label>Title</label>
                        <input type="text" required class="form-control" th:field="*{title}">
                    </div>
                    <div class="col form-group">
                        <label>Price</label>
                        <input type="text" required class="form-control" th:field="*{price}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>City</label>
                        <select id="inputState" name="city" required th:field="*{city}"  class="form-control">
                            <option value="" selected=""> Choose...</option>
                            <option value="Lisboa">Lisboa</option>
                            <option value="Porto">Porto</option>
                            <option value="Braga">Braga</option>
                            <option value="Setúbal">Setúbal</option>
                            <option value="Aveiro">Aveiro</option>
                            <option value="Faro">Faro</option>
                            <option value="Leiria">Leiria</option>
                            <option value="Coimbra">Coimbra</option>
                            <option value="Santarém">Santarém</option>
                            <option value="Viseu">Viseu</option>
                            <option value="Viana Do Castelo">Viana Do Castelo</option>
                            <option value="Vila Real">Vila Real</option>
                            <option value="Castelo Branco">Castelo Branco</option>
                            <option value="Évora">Évora</option>
                            <option value="Guarda">Guarda</option>
                            <option value="Beja">Beja</option>
                            <option value="Bragança">Bragança</option>
                            <option value="Portalegre">Portalegre</option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <label>Type</label>
                        <select id="inputType" name="type" required th:field="*{type}"  class="form-control">
                            <option value="" selected=""> Choose...</option>
                            <option value="Casa Inteira">Casa Inteira</option>
                            <option value="Quarto Privado">Quarto Privado</option>
                            <option value="Quarto Partilhado">Quarto Partilhado</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>Number of bathrooms</label>
                        <input class="form-control" name="bathrooms"  required th:field="*{numBathrooms}"  type="text">
                    </div>
                    <div class="form-group">
                        <label>Number of bedrooms</label>
                        <input class="form-control" name="bedrooms"  required th:field="*{numBedrooms}" type="text">
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label class="filter_title">Features</label><br>

                        <input class="feature_filter" type="checkbox" id="wifi" name="features" value="Wifi" th:field="*{features}">
                        <label for="wifi">Wifi</label><br>
                        <input class="feature_filter" type="checkbox" id="tv" name="features" value="TV" th:field="*{features}">
                        <label for="tv">TV</label><br>
                        <input class="feature_filter" type="checkbox" id="exterior" name="features" value="Área Exterior" th:field="*{features}">
                        <label for="exterior">Área Exterior</label><br>
                        <input class="feature_filter" type="checkbox" id="elevador" name="features" value="Elevador" th:field="*{features}">
                        <label for="elevador">Elevador</label><br>
                        <input class="feature_filter" type="checkbox" id="ac" name="features" value="Ar Condicionado" th:field="*{features}">
                        <label for="ac">Ar Condicionado</label><br>
                        <input class="feature_filter" type="checkbox" id="aquecimento" name="features" value="Aquecimento Central" th:field="*{features}">
                        <label for="aquecimento">Aquecimento Central</label><br>
                        <input class="feature_filter" type="checkbox" id="fumar" name="features" value="Fumar" th:field="*{features}">
                        <label for="fumar">Aceita Fumadores</label><br>
                        <input class="feature_filter" type="checkbox" id="animal" name="features" value="Animais de Estimação" th:field="*{features}">
                        <label for="animal">Aceita Animais</label><br>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col form-group">
                        <label>Photo URL</label>
                        <input type="text" required class="form-control" th:field="*{photo}">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" value="Submit" class="btn btn-primary btn-block"> Add house</button>
                </div>
            </form>        </div>
    </div>
</div>
</body>
<script>
// Modal
// Get the modal
var modal = document.getElementById("myModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target === modal) {
        modal.style.display = "none";
    }
}
function addPlace(){
    modal.style.display = "block";
}


var x = Object.values(document.getElementsByName("_features"));
x.forEach(function(e){
    e.remove();
})


function validateForm() {
    var city = document.forms["myForm"]["city"].value;
    var type = document.forms["myForm"]["inputType"].value;
    if (city === ""){
        alert("Please select a city");
        return false;
    }
    if (type === ""){
        alert("Please select a type");
        return false;
    }

    if (!document.getElementById('wifi').checked &&
        !document.getElementById('tv').checked &&
        !document.getElementById('exterior').checked &&
        !document.getElementById('elevador').checked &&
        !document.getElementById('ac').checked &&
        !document.getElementById('aquecimento').checked &&
        !document.getElementById('fumar').checked &&
        !document.getElementById('animal').checked){
            alert("Por favor selecione pelo menos uma feature");
            return false;
    }
}

// Book Place
    function cancel(place_id){
        var id = parseInt(place_id.split("_").pop());
        var data = { 'place_id' : id };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type:"post",
            data:JSON.stringify(data),
            url:"/cancel_booking",
            async: false,
            success: function(result){
                console.log(result);
                if(result.success === "true"){
                    document.getElementById("rented_" + id).style.filter = "blur(3px)" ;
                    document.getElementById("rented_" + id).style.pointerEvents = "none";
                }
                else {
                    console.log("ERROR");
                }
            }
        })
    }


    // Thymeleaf Correction
    function reply_click(clicked_id)
    {
        window.location.href ="/list/"+ clicked_id;
    }
</script>
</html>