<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Homies</title>

    <!-- Bootstrap CSS-->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link  th:href="@{/css/register.css}" href="/css/register.css" rel="stylesheet" media="all">

    <!-- Bootstrap JS-->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://d3js.org/d3.v3.js"></script>
    <script src="https://d3js.org/topojson.v1.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.none.min.js"></script>
    <script src="https://rawgithub.com/markmarkoh/datamaps/master/dist/datamaps.prt.js"></script>
    <style>
        .card-register{
            padding: 1px;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            margin-top: 82px;
            border-radius: 10px;
            border: grey 1px solid;
        }
    </style>
</head>

<body>

<center>
    <br>
    <br>
    <br>
<div class="col-10" style="padding:10px">

    <header class="card-header">
        <h4 class="card-title mt-2">Register</h4>
    </header>

    <article class="card-body">

        <form name="myForm" action="#" th:action="@{/register}" th:object="${user}" onsubmit="return validateForm()" method="post">

            <!-- NAME -->
            <div class="form-row">
                <div class="col form-group">
                    <label>First name </label>
                    <input type="text" required class="form-control" th:field="*{firstName}">
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label>Last name</label>
                    <input type="text"  required  class="form-control" th:field="*{lastName}">
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->

            <!-- EMAIL -->
            <div class="form-group">
                <label>Email address</label>
                <input type="email"  required  class="form-control" th:field="*{email}">
            </div> <!-- form-group end.// -->


            <!-- CITY -->
            <div class="form-group col-md-6">
                <label>City</label>
                <!--Lista de Cidades-->
                <select id="inputState" name="city" required th:field="*{city}"  class="form-control">
                    <option value="" selected=""> Choose...</option>
                    <option value="Lisboa">Lisboa</option>
                    <option value="Porto">Porto</option>
                    <option value="Braga">Braga</option>
                    <option value="Setúbal">Setúbal</option>
                    <option value="Aveiro">Aveiro</option>
                    <option value="Faro">Faro</option>
                    <option value="Leiria">Leiria</option>
                    <option value="Coimbra">Coimbra</option>
                    <option value="Santarém">Santarém</option>
                    <option value="Viseu">Viseu</option>
                    <option value="R.A da Madeira">R.A da Madeira</option>
                    <option value="R.A dos Açores">R.A dos Açores</option>
                    <option value="Viana Do Castelo">Viana Do Castelo</option>
                    <option value="Vila Real">Vila Real</option>
                    <option value="Castelo Branco">Castelo Branco</option>
                    <option value="Évora">Évora</option>
                    <option value="Guarda">Guarda</option>
                    <option value="Beja">Beja</option>
                    <option value="Bragança">Bragança</option>
                    <option value="Portalegre">Portalegre</option>
                </select>
            </div> <!-- form-group end.// -->



            <!-- PASSWORD-->
            <div class="form-row">
                <div class="form-group">
                    <label>Create password</label>
                    <input class="form-control" name="password" required  th:field="*{password}" type="password">
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label>confirm password</label>
                    <input class="form-control"  name="confpassword" required  th:field="*{matchingPassword}" type="password">
                </div> <!-- form-group end.// -->
            </div> <!-- form-row.// -->



            <!-- REGISTER BUTTON -->
            <div class="form-group">
                <button type="submit" value="Submit" class="btn btn-primary btn-block"> Register  </button>
            </div> <!-- form-group// -->
        </form>

    </article> <!-- card-body end .// -->

    <div class="border-top card-body text-center">Have an account? <a th:href="@{/login}">Log In</a></div>
</div> <!-- col.//-->
</center>
<script>
    function validateForm() {
        var city = document.forms["myForm"]["city"].value;
        var password = document.forms["myForm"]["password"].value;
        var confpassword = document.forms["myForm"]["confpassword"].value;
        if (password !== confpassword) {
            alert("Passwords dont match");
            return false;
        }
        if (password.length < 4) {
            alert("Password too short (<4)");
            return false;
        }
        if (city === ""){
            alert("Please select a city");
            return false;
        }
    }
</script>

</body>
</html>