@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    overflow-x:hidden;
}
.background-image{
    overflow: hidden;
    background-image: linear-gradient(#ffffff 3%, #00000000 70%), url("../media/room-1.jpg");
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 50%;
    /* Preserve aspet ratio */
    width: 100%;
    height: 700px;
    z-index: -100;
}
.background-image img{

}

.card-info{
    height: 340px;
    min-width: fit-content;
    max-width: 400px;
    transform: translate(50%,50%);
    background-color: whitesmoke;
    border-radius: 5px;
    position: relative;
    box-shadow: 0.4em 0.15em 2.375em rgba(50,50,50,0.49);
}
.card-body{
    padding: 0 20px 0 20px;
    font-size:0.8rem;
}
.card-title{
    margin:10px 0 -20px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #3d5170;
    font-size:2.5rem;
}

.text{
    margin: 0 0 0 20px;
}

.specifications{
    display: inline-flex;
    justify-content: center;
    min-width: 100%;
}

.element{
    margin-left:10px;
    position:relative;
    display: flex;
    font-size:0.75rem;
    white-space: nowrap;
    margin-bottom: 20px;
}

.divide{
    border-left: 1px solid darkslategrey;
    height: auto;
    margin: 20px 0 20px 0;
    width: 10px;
}

.contents{
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: auto;
    justify-content: center;
}
.card-rent{
    background-color: whitesmoke;
    border-radius: 10px;
    height: max-content;
    min-width: 85%;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    max-width: 85%;
    margin-bottom: 10px;
    margin-top: 300px;
    box-shadow: 0.4em 0.15em 2.375em rgba(50,50,50,0.09)
}

/* Modal */

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: opacity 500ms ease-in;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transition: opacity 500ms ease-in;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.fav{
    margin-left: auto;
    height: 31px;
    margin-bottom: auto;
}

.title{
    font-size: 1rem;
    font-weight: bolder;
    margin: 0 -25px 15px 25px;
}

.booking{
    width: 100%;
    height: 40px;
    border-style: none;
    background-color: #b32b95;
    color: whitesmoke;
    border-radius: 28px;
}

.booking{
    width: 100%;
    height: 40px;
    border-style: none;
    background-color: #b32b95;
    color: whitesmoke;
    border-radius: 28px;
}

.booking:hover{
    background-color: #6d1b5d;
    transition: 0.5s;
}


  .submit_review{
      width: 80%;
      height: 40px;
      border-style: none;
      background-color: #58a2e8;
      color: whitesmoke;
      border-radius: 28px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

.submit_review:hover{
    background-color: #3b6e9e;
    transition: 0.5s;
}



fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
    width: fit-content;
    align-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0.4em 0.15em 2.375em rgba(50,50,50,0.49);
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #ffac00;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


.review_title{
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 17px;
}